<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chiajna visualizare curent electric</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
</head>
<body>

<div id="stats">
Statistics about the curent consumtion in Chiajna
</div>
<div id="grafice-div" style="height: 100%; ">
  <div style="height: 10000px">
      <canvas id="canvas"  style="min-height:800px" class="table" width="0"></canvas>
  </div>
</div>

<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>

    $(document).ready(function () {

        const config = {
            type: 'horizontalBar',
            data: {
                labels: [],
                datasets: [{
                    label: "E-Distributie consum curent chiajna",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                maintainAspectRatio: true,
                responsive: true,
                maxTicksLimit: 10000,
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{

                        display: true,
						distribution: 'series'
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Valoare in KW/h'
							
                        },
                        ticks: {
                            autoSkip: false,
                            fontSize: 8,
                            autoSkip: true,
                            maxRotation: 0,
                            minRotation: 0
                        }
                    }]
                }
            }
        };


        const context = document.getElementById('canvas').getContext('2d');		
        const lineChart = new Chart(context, config);

        $.ajax({  
            url: "../static-data",  
            type: "Get",  
            dataType: "json",  
            success: function (ev) {  
                for (var i in ev.data) {
                    //console.log("am responsive", data[i].time, data[i].value);
                    //config.data.labels.push(Date.parse(data[i].time));
					
					config.data.labels.push(ev.data[i].time);
                    config.data.datasets[0].data.push( ev.data[i].value)
					//config.data.labels.push(data[i].time);
                    //config.data.datasets[0].data.push(data[i].value)
                }    
                lineChart.update();
                var div = document.getElementById('stats');
                div.innerHTML = ev.stats;
            }
        });

    });
</script>
</body>
</html>